body{
    font-family: 'Nerko One', cursive;
    color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-area{
    --grid-size: 3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    width: 30rem;
    height: 30rem;
    grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 1px solid black;
    transition: background 0.2s ease-in-out;
}

.block:hover{
    border: 2px solid whitesmoke;
    cursor: pointer;
}